// bootstrap variables overrides
$brand-primary: #379ae9 !default;

// site colors
$black: #ccc;
$highlight-yellow: #fec324;
$white: #fff;
$black-shadow: rgba(0, 0, 0, .075);

//fonts
$font-color: #333;
$font-stack: Helvetica Neue, Lato, Helvetica, Arial, Verdana, Lucida Grande, sans-serif;