#ember-testing-container {
  display: none;
}
* {
  box-sizing: border-box;
}
body {
  font-family: $font-stack;
  color: $font-color;
}
a {
  color: inherit;
  text-decoration: none;
}
header {
  display: flex;
  align-items: center;
  padding: 1em;
  border-bottom: 1px dotted $black;
  h1 {
    margin: 0;
    flex: 1;
    font-weight: 300;
    a {
      text-decoration: none;
      transition: color 300ms;
      &:hover {
        color: $highlight-yellow;
      }
    }
  }
  nav {
    a {
      display: inline-block;
      margin: 0 0 0 1em;
      padding: 0.35em 0.75em;
      background-color: transparent;
      transition: all 300ms;
      border-radius: 20px;
      &:hover {
        background-color: $brand-primary;
        color: $white;
      }
    }
    img {
      display: inline-block !important;
      margin: 0 0 0 1em;
      padding: 0.35em 0.75em;
    }
  }
}
.error-message {
  border-color: $brand-danger;
  box-shadow: inset 0 1px 1px $black-shadow;
  color: $brand-danger;
  border-color: $brand-danger;
  margin-top: 3px;
}
.red {
  color: $brand-danger;
}
.required-asterisk {
  font-size: 1.3em;
}
.row-bottom {
  font-size: 0;
  > * {
    float: none;
    display: inline-block;
    font-size: 14px;
    &:last-child {
      vertical-align: bottom;
    }
  }
  p:last-child {
    margin-bottom: 0;
  }
}