// bootstrap variables
$brand-primary: #379ae9 !default;

// site colors
$dark-gray: #333;
$black: #ccc;
$highlight-yellow: #fec324;
$white: #fff;
$black_shadow: rgba(0, 0, 0, .075);

//fonts
$font_0: Helvetica Neue;
$font_1: Lato;
$font_2: Helvetica;
$font_3: Arial;
$font_4: Verdana;
$font_5: Lucida Grande;
$font_6: sans-serif;