<header>
   <h1>
    {{#link-to "index"}}<strong>Fire</strong>Test{{/link-to}}
  </h1>
  <nav>
  	{{#unless session.currentUser}}
    {{#link-to "register"}}Register{{/link-to}}
    {{/unless}}

   {{#link-to "login"}}Login{{/link-to}}
   {{#link-to "reset"}}Reset{{/link-to}}
  </nav>
</header>
<section class="main-content">
  {{outlet}}
</section>
