{{#if resetSuccess}}
	<p>An email is on its way to you. Follow the instructions to reset your password.</p>
{{else unless session.currentUser}}
   <form {{action 'resetPassword' model on="submit"}}> 
   	 <h2>Reset Password</h2>
			{{validated-input-group type="email" placeholder="Enter email" name="email" labelText="Email Address" value=model.email errors=errors.email}}
	   <button class="btn btn-primary" type='submit'>Reset</button>
	</form>
{{/if}}

